* {
  box-sizing: border-box;
  margin: 5px;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 200;
  margin: 0;
  padding: 0;
  background-color: #000;
  line-height: 1.5;
  height: 100%;
}

.noMatch {
  text-align: center;
  color: #a71818;
  margin: 50px;
}

.site-content {
  margin-top: 210px;
}

h2 {
  color: #a9a9a9;
  border-bottom: 4px solid #a9a9a9;
  width: 100%;
  margin-bottom: 20px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: auto;
}

.navbar {
  width: 100%;
  height: 20%;
  margin: 0px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #a9a9a9;
  background: linear-gradient(0deg, #000 0%, #a9a9a9 15%);
  opacity: 85%;
  padding: 10px;
  font-weight: 350;
}

.nav-link {
  font-size: 2rem;
  color: #000;
  border-radius: 15px;
  cursor: pointer;
}

.nav-link:hover {
  color: #a9a9a9;
  background-color: #000;
  border-radius: 15px;
  transition: 0.3s;
}

.navActive {
  color: #a71818;
}

.navActive:hover {
  color: #a71818;
}

.list-nav {
  display: none;
  font-size: 30px;
  background-color: #000;
  color: #a9a9a9;
}

.list-navItem {
  text-decoration: none;
}

.dropdown-toggle::after {
  display: none;
}

.logo {
  height: 100px;
}

.hero {
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.hero-name {
  color: #a71818;
}

.small-heading {
  color: #a9a9a9;
}

.contact-me {
  border-top: 5px solid #a9a9a9;
}

.contact-btn {
  margin-left: 200px;
}

.contact-links {
  display: flex;
  justify-content: space-around;
}

.contact-me a {
  color: #a9a9a9;
  padding: 5px 30px;
  text-decoration: none;
  font-size: 2rem;
  display: inline-block;
  border-bottom: 4px solid #a71818;
}

.contact-me a:hover {
  color: #a71818;
  font-size: 3rem;
  transition: 0.3s;
}

.tech-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
}

.tech-logo-back {
  width: 200px;
  height: 200px;
  background: radial-gradient(circle, #fff 30%, #000 75%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-logo {
  width: 150px;
}

.projects-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  justify-content: center;
}

.project-tile {
  position: relative;
}

.project-img {
  float: left;
  width: 500px;
  height: 500px;
  background-size: cover;
  box-shadow: 0 0 15px #a9a9a9;
  border-radius: 10px;
}

.project-tile:hover .project-img {
  opacity: 15%;
  transition: 0.3s;
}

.project-title {
  color: #fff;
  display: none;
  position: absolute;
  margin: auto;
  text-align: center;
  width: 100%;
  top: 20%;
}

.tile-btn {
  position: absolute;
  bottom: 20%;
  left: 183.425px;
  display: none;
}

.project-tile:hover .tile-btn {
  display: block;
  transition: 0.3s;
}

.project-tile:hover .project-title {
  display: block;
  transition: 0.3s;
}

.modalBackdrop {
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  margin: 20px;
  width: 95%;
}

.modalContainer {
  color: #000;
  background: #a9a9a9;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.modalTitle {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 25px;
}

.modal-x {
  font-size: 30px;
  position: absolute;
  top: 10;
  cursor: pointer;
}

.modalImg {
  margin: 0 auto;
  padding: 3px;
  width: 450px;
}

.modalText {
  text-align: center;
  font-weight: 450;
  font-size: 20px;
}

.modalBtn {
  margin: 5px;
}

.resume-div {
  text-align: center;
}

.resume-btn {
  margin: 10px;
}

.resume {
  width: 64%;
  height: 700px;
}

.contact-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact-form input,
textarea {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 600px;
  padding-bottom: 1rem;
  box-shadow: #ffffff40 0px 30px 60px -12px, #ffffff4d 0px 18px 36px -18px;
  border-radius: 10px;
}

.contact-form textarea {
  padding-bottom: 5rem;
}

.error-text {
  color: #a71818;
  font-size: 1.5rem;
  font-weight: 400;
}

.contactForm-btn {
  margin: 20px;
}

@media (max-width: 992px) {
  .lg-nav {
    display: none;
  }

  .list-nav {
    display: block;
  }

  .hero {
    margin-top: 250px;
    flex-wrap: wrap;
  }

  .contact-btn {
    margin-left: 200px;
  }

  .bitmoji {
    height: 600px;
    width: auto;
  }

  .tech-logo-back {
    width: 150px;
    height: 150px;
  }

  .tech-logo {
    width: 100px;
  }

  .resume {
    width: 88%;
  }
}

@media (max-width: 576px) {
  .nav-link {
    font-size: 1rem;
  }

  .hero {
    margin-top: 250px;
  }

  .contact-btn {
    margin-left: 100px;
  }

  .bitmoji {
    height: 400px;
    width: auto;
  }

  .tech-logo-back {
    width: 100px;
    height: 100px;
  }

  .tech-logo {
    width: 60px;
  }

  .project-img {
    width: 350px;
    height: 350px;
  }

  .tile-btn {
    left: 108.425px;
  }

  .resume {
    width: 100%;
  }

  .contact-form input,
  textarea {
    width: 400px;
  }

  .modalImg {
    width: 310px;
  }

  .modalTitle {
    font-size: 20px;
  }
}
