* {
  box-sizing: border-box;
  margin: 5px;
}

:root {
  --primary: #000;
  --secondary: #a9a9a9;
  --tertiary: #a71818;
  --light: #fff;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 200;
  margin: 0;
  padding: 0;
  background-color: var(--primary);
  line-height: 1.5;
  height: 100%;
}

.noMatch {
  text-align: center;
  color: var(--tertiary);
  margin: 50px;
}

.site-content {
  margin-top: 210px;
}

.small-heading {
  color: var(--secondary);
}

h2 {
  color: var(--secondary);
  border-bottom: 4px solid var(--secondary);
  width: 100%;
  margin-bottom: 20px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: auto;
}

.navbar {
  width: 100%;
  height: 20%;
  margin: 0px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--secondary);
  background: linear-gradient(0deg, var(--primary) 0%, var(--secondary) 15%);
  opacity: 85%;
  padding: 10px;
  font-weight: 350;
}

.nav-link {
  font-size: 1.7rem;
  color: var(--primary);
  border-radius: 15px;
  cursor: pointer;
  /* text-shadow: 2px 2px 2px var(--light); */
}

.nav-link:hover {
  color: var(--secondary);
  background-color: var(--primary);
  border-radius: 15px;
  transition: 0.3s;
  /* text-shadow: 2px 2px 2px var(--primary); */
}

.list-nav {
  display: none;
  font-size: 30px;
  background-color: var(--primary);
  color: var(--secondary);
}

.list-navItem {
  font-size: 25px;
}

.list-navItem:hover {
  color: #a9a9a9;
  background-color: #000;
}

.navActive {
  color: var(--tertiary) !important;
  background-color: var(--primary);
}

.navActive:hover {
  color: var(--tertiary);
}

.dropdown-toggle::after {
  display: none;
}

.logo {
  height: 100px;
}

.hero {
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.hero-heading {
}

.hero-name {
  color: var(--tertiary);
}

.contact-me {
  border-top: 5px solid var(--secondary);
}

.contact-btn {
  margin-left: 200px;
}

.contact-links {
  display: flex;
  justify-content: space-around;
}

.contact-me a {
  color: var(--secondary);
  padding: 5px 30px;
  text-decoration: none;
  font-size: 2rem;
  display: inline-block;
  border-bottom: 4px solid var(--tertiary);
}

.contact-me a:hover {
  color: var(--tertiary);
  font-size: 3rem;
  transition: 0.3s;
}

.tech-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
}

.tech-logo-back {
  width: 200px;
  height: 200px;
  background: radial-gradient(circle, #fff 30%, var(--primary) 75%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-logo {
  width: 150px;
}

.projects-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  align-items: center;
  justify-content: space-evenly;
}

.project-tile {
  position: relative;
}

.project-img {
  align-items: center;
  float: left;
  width: 500px;
  background-size: cover;
  box-shadow: 0 0 15px var(--secondary);
  border-radius: 10px;
}

.project-tile:hover .project-img {
  opacity: 15%;
  transition: 0.3s;
}

.project-title {
  color: #fff;
  display: none;
  position: absolute;
  margin: auto;
  text-align: center;
  width: 100%;
  top: 20%;
}

.tile-btn {
  position: absolute;
  bottom: 20%;
  left: 183.425px;
  display: none;
}

.project-tile:hover .tile-btn {
  display: block;
  transition: 0.3s;
}

.project-tile:hover .project-title {
  display: block;
  transition: 0.3s;
}

.modal-content {
  color: var(--primary);
  background: var(--secondary);
  box-shadow: 1px -2px 50px 5px #ffffffa6;
}

.modalImg-div {
  display: flex;
  justify-content: center;
}

.modalImg {
  width: 450px;
  border-radius: 10px;
  margin-right: 25px;
}

.modalText {
  text-align: center;
  font-weight: 450;
  font-size: 15px;
}
.modalBtn-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-end;
}

.modalBtn {
  margin: 5px;
}

.noAppText {
  font-size: 1.25rem;
  color: var(--tertiary);
}

.resume-div {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume-btn {
  margin: 10px;
}

.resume-doc {
  width: 70%;
  height: 700px;
  background-color: var(--secondary);
  box-shadow: 0px 0px 13px 12px var(--secondary);
  margin: 20px;
}

.contact-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact-form input,
textarea {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 600px;
  padding-bottom: 1rem;
  box-shadow: #ffffff40 0px 30px 60px -12px, #ffffff4d 0px 18px 36px -18px;
  border-radius: 10px;
}

.contact-form textarea {
  padding-bottom: 5rem;
}

.error-text {
  color: var(--tertiary);
  font-size: 1.5rem;
  font-weight: 400;
}

.contactForm-btn {
  margin: 20px;
}

@media (max-width: 992px) {
  .lg-nav {
    display: none;
  }

  .list-nav {
    display: block;
  }

  .hero {
    margin-top: 250px;
    flex-wrap: wrap;
  }

  .contact-btn {
    margin-left: 200px;
  }

  .bitmoji {
    height: 600px;
  }

  .tech-logo-back {
    width: 150px;
    height: 150px;
  }

  .tech-logo {
    width: 100px;
  }

  .resume-doc {
    width: 88%;
  }
}

@media (max-width: 576px) {
  .nav-link {
    font-size: 1rem;
  }

  .hero {
    margin-top: 250px;
  }

  .contact-btn {
    margin-left: 100px;
  }

  .bitmoji {
    height: 400px;
    width: auto;
  }

  .tech-logo-back {
    width: 100px;
    height: 100px;
  }

  .tech-logo {
    width: 60px;
  }

  .project-img {
    width: 350px;
  }

  .tile-btn {
    left: 108.425px;
  }

  .resume-doc {
    width: 100%;
  }

  .contact-form input,
  textarea {
    width: 400px;
  }

  .modalImg {
    width: 300px;
  }
}
